<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day4-stage4</title>
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="schedule-con">
        <h1>Stage-4 Programme Schedule</h1>
        <div class="card-row">

            <div class="card-con">
                <h2> MONOACT</h2>
                <p><strong>Start:</strong>9:30 AM</p>
                <p><strong>End:</strong>10:45 AM</p>
            </div>
    
            <div class="card-con">
                <h2> ADZAP</h2>
                <p><strong>Start:</strong>11:00 AM</p>
                <p><strong>End:</strong>11:20 AM</p>
            </div>

            <div class="card-con">
                <h2> DEBATE(MAL)</h2>
                <p><strong>Start:</strong>2:00 PM</p>
                <p><strong>End:</strong>3:00 PM</p>
            </div>

            <div class="card-con">
                <h2>EXTEMPORE(MAL)</h2>
                <p><strong>Start:</strong>3:30 PM</p>
                <p><strong>End:</strong>4:30 PM</p>
            </div>

        </div>
    </div>
</body>
</html>