<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day6-stage1</title>
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="schedule-con">
        <h1>Stage-1 Programme Schedule</h1>
        <div class="card-row">

            <div class="card-con">
                <h2>BHARATHANATYAM</h2>
                <p><strong>Start:</strong>9:30 AM</p>
                <p><strong>End:</strong>10:45 AM</p>
            </div>
    
            <div class="card-con">
                <h2>OPPANA</h2>
                <p><strong>Start:</strong>11:00 AM</p>
                <p><strong>End:</strong>12:30 PM</p>
            </div>

            <div class="card-con">
                <h2>SKIT</h2>
                <p><strong>Start:</strong>2:00 PM</p>
                <p><strong>End:</strong>3:00 PM</p>
            </div>

            <div class="card-con">
                <h2>MARGAMKALI</h2>
                <p><strong>Start:</strong>3:10 PM</p>
                <p><strong>End:</strong>4:10 PM</p>
            </div>

            <div class="card-con"></div>
                <h2>NOSTALGIA</h2>
                <p><strong>Start:</strong>4:30 PM</p>
                <p><strong>End:</strong>5:40 PM</p>
            </div>

            <div class="card-con"></div>
                <h2>CLOSING CEREMONY</h2>
                <p><strong>Start:</strong>7:15 PM</p>
            </div>

        </div>
    </div>
</body>
</html>