<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day1-stage2</title>
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="schedule-con">
        <h1>Stage-2 Programme Schedule</h1>
        <div class="card-row">

            <div class="card-con">
                <h2>POETRY WRITING (HINDI)</h2>
                <p><strong>Start:</strong>9:00 AM</p>
                <p><strong>End:</strong>11:00 AM</p>
            </div>
    
            <div class="card-con">
                <h2>SHORT STORY WRITING (HINDI)</h2>
                <p><strong>Start:</strong>11:15 AM</p>
                <p><strong>End:</strong>1:15 PM</p>
            </div>

            <div class="card-con">
                <h2> POSTER DESIGNING</h2>
                <p><strong>Start:</strong>2:00 PM</p>
                <p><strong>End:</strong>4:00 PM</p>
            </div>

            <div class="card-con">
                <h2> ESSAY WRITING (HINDI)</h2>
                <p><strong>Start:</strong>4:15 PM</p>
                <p><strong>End:</strong>6:15 PM</p>
            </div>

        </div>
    </div>
</body>
</html>